<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Daily Reminder</title>
    </head>
    <body>
        <h1>Daily Reminder</h1>
        <p>Dear {{ user.username }},</p>
        <p>
            This is a gentle reminder to read the books you have issued, if any.
            If you haven't issued any books, or want to issue more books, please
            visit our Library Management System website. Remember, you can issue
            upto 5 books at a time.
        </p>
        <p>Regards,</p>
        <p>Librarian</p>
    </body>
</html>
